.box{
    border: 2px solid #d2286c;
    border-radius:15px;
    height:100%;
}
.yesnoButton{
    width:100%;
    margin: 10px 0px;
}

.carImage{
    border: 2px solid #d2286c;
    box-shadow: 10px 10px;
    min-width:90%;
    max-width:90%;
    margin:5%;
    /*min-height:50%;*/
    max-height:70%;
}