.forms div{
    margin-bottom:5px;
}
.new-box{
    border: 2px solid red;
    border-radius:15px;
    min-height:100%;
}
.form-control{ 
    /* why are these colour names */
    background-color:white;
}
.form-control:focus{
    background-color: papayawhip;
}

.form-check input{
    /* background-color: red; */
}